@charset "UTF-8";

body {
	position: relative;
	width: auto;
	font-family: 'Ebrima', sans-serif;
	font-weight: normal;
	color: white;
	background-color: rgb(48,50,62);
	margin: 0px 120px;
}
header.topo {
	display: inline-flex;
	width: 100%;
}
img.icone {
	margin-top: 15px;
	max-width:210px;
    max-height:190px;
}
nav.menu ul {
	width: 440px;
	margin-top: 35px;
	margin-left: 285px;
}
nav.menu li {
	font-size: 12pt;
	font-weight: normal;
	display: inline-block;
	padding: 0px 8px;
}
nav.menu a  {
	text-decoration: none;
	color: white;
}
nav.menu a:hover {
	color: rgb(244,187,54);
	padding-bottom: 28px;
	border-bottom: solid;
	border-width: bolder;
}
.baixarapp {
	background-color: #f6bb33;
	color: #2a2931;
	padding: 13px 10px;
	text-align: center;
	text-transform: uppercase;
	border-radius: 5px;
	border-width: 0px;
	width: 150px;
	height: 40px;
	font-size: 12px;
	font-weight: bolder;
	margin-left: 0px;
    margin-top: 25px;
    padding: 10px 25px;
}
nav.cat {
	margin-left: 0px;
	width: 700px;
}
nav.cat ul {
	width: 1000px;
	margin-top: 30px;
	padding-top: 20px;
	margin-bottom: 0px;
	margin-left: 90px;
	margin-right: 0px;
}
nav.cat li {
	font-size: 12pt;
	display: inline-block;
	padding-right: 15px;
}
.fa-home {
	color: rgb(244,187,54);
	font-size:18px;
}
a#home  {
	text-decoration: underline;
	font-weight: bolder;
	color: white;
}
a#home:hover {
	color: rgb(244,187,54);
}
a#post  {
	text-decoration: none;
	color: white;
}
div.titulo {
	background-image:url("./../imagens/fundoinicio.png");
	background-size: 100%;
	background-repeat: no-repeat;
	height: 400px;
	margin: -20px -120px 0px -120px;
}
div.titulo h1 {
	font-size: 58px;
	width: 80%;
    margin-left: 120px;
    margin-top: 30px;
    margin-bottom: 30px;
}
nav.datapost {
	width: 60%;
    margin-left: 50px;
}
nav.datapost li {
	font-size: 13pt;
	font-weight: normal;
	display: inline-block;
	padding: 0px 35px;
}
nav.datapost a  {
	text-decoration: none;
	font-style: oblique;
	color: white;
}
nav.datapost a.um {
	color: rgb(244,187,54);
}
span.tres {
	text-decoration: underline;
}

section.corpo {
	width: 76%;
}
img.fotoprinc {
	margin-top: -100px;
	margin-bottom: 15px;
	width: 100%;
}
section.corpo p {
	font-size: 20px;
}
section.corpo h2 {
	font-size: 30px;
}
div.lateral {
	float: right;
	line-height: 0.8;
	text-align: center;
	padding-top: 45px;
	padding-bottom: 45px;
	color: #22222A;
	background-color: rgb(244,187,54);
	width: 260px;
	height: 270px;
	border-radius: 3px;
	margin-top: -1415px;
}
div.lateral a {
	font-size: 20px;
	line-height: 1;
	font-weight: normal;
}
div.lateral span {
	font-size: 25px;
	font-weight: bolder;
}
div.topicos {
	vertical-align: bottom;
	float: right;
	text-align: left;
	margin-top: 110px;
}
div.topicos h2 {
	margin-bottom: 30px;
	color: #FFFFFF;
	font-size: 22px;
}
.fotodown {
	max-width: 130px;
    max-height: 130px;
}
.parag {
	vertical-align: top;
	line-height: 1.25;
	color: #FFFFFF;
	text-align: left;
	font-size: 15px;
	font-weight: bolder;
	margin-top: -70px;
	padding-bottom: 5px;
    padding-top: 15px;
	padding-left: 100px;
	border: 0;
	border-bottom: 2px solid #22222A;
	border-bottom-width: 2px;
	margin-bottom: 20px;
	width: 160px;
	height: 65px;
}
.parag:last-child  {
	border-bottom: 0px;
}
.foto {
	max-width: 90px;
    max-height: 90px;
    margin-top: -5px;
	margin-bottom: 0px;
}

section.contato {
	display: inline-flex;
}
div.part1 {
	width: 65%;
	height: 525px;
	background-color: #2A2A34;
	margin: 80px 0px 0px -120px;
	padding: 40px 0px;
}
.fotocel {
	height: 100%;
}
section.formu {
	color: #FCFCFC;
	margin-left: 230px;
	margin-top: -450px;
	line-height: 1px;
}
.formu h1 {
	font-size: 36px;
	font-weight: 700;
}
.formu h2 {
	font-size: 36px;
	font-weight: 100;
}
.formu h3 {
	font-size: 19px;
	font-weight: 100;
	line-height: 60px;
}
fieldset.telefone {
	border: none;
	font-size: 11px;
	font-weight: 700;
	line-height: 30px;
	padding: 0px;
	margin: 0px;
}
input#cNum {
    width: 210px;
    height: 40px;
    padding-left: 37px;
    background-color: #2A2A34;
    border-style: solid;
    border-color: #F5BB33;
    border-width: 1px;
    border-radius: 5px;
}
.input-container:after {
	content: "\f095";
    width: 17px;
    height: 17px;
    font-size: 16px;
	display: flex;
	transform: translate(75%, -175%);
}
.enviar {
	background-color: #f6bb33;
	color: #2a2931;
	padding: 13px 10px;
	text-align: center;
	border-radius: 5px;
	border-width: 0px;
	width: 120px;
	height: 44px;
	font-size: 12px;
	font-weight: bolder;
	margin-left: 10px;
    margin-top: 0px;
	padding: 9px 25px;
}
.tarifas {
	font-size: 11px;
	font-weight: 100;
	font-style: italic;
}
.download {
	width: 130px;
	height: 50px;
    margin-top: 30px;
}
div.part2 {
	width: 35%;
	height: 420px;
	background-color: #30323E;
	margin: 80px -60px 0px 00px;
	padding: 110px 0px 40px 50px;
	line-height: 1px;
}
.empresas h1 {
	font-size: 36px;
	font-weight: 700;
}
.empresas h2 {
	font-size: 36px;
	font-weight: normal;
	line-height: 1px;
}
.empresas h3 {
	font-size: 19px;
	font-weight: 100;
	padding-top: 30px;
	padding-bottom: 20px;
	line-height: 25px;
}
.faleconosco {
	width: 400px;
	margin-right: -100px;
}
.fale {
	background-color: #30323E;
	color: #F5BB33;
	padding: 13px 10px;
	text-align: center;
	border-style: solid;
	border-color: #F5BB33;
	border-radius: 5px;
	border-width: 1.5px;
	width: 220px;
	height: 45px;
	font-size: 13px;
	font-weight: bolder;
}
.saiba {
	background-color: #30323E;
	color: #F5BB33;
	padding: 13px 10px;
	text-align: center;
	border: none;
	width: 130px;
	height: 45px;
	font-size: 13px;
	font-weight: bolder;
}
.faleconosco span {
	color: #F5BB33;	
}
.fotobarra {
	width: 620px;
	margin-left: -50px;
	margin-top: 56px;
}

.rodape {
	display: inline-flex;
	background-color: #2A2A34;
	margin: 0px auto;
	width: 100%;
	height: 100px;
	padding-top: 10px;
	padding-right: 120px;
	padding-left: 120px;
	margin-left: -120px;
}
img.iconerodape {
	max-width:190px;
    max-height: 60px;
    margin-top: 15px;
}
nav.menufinal ul {
	display: flex;
	width: 400px;
	margin-top: 35px;
	margin-left: 450px;
	margin-right: 0px;
}
nav.menufinal li {
	display: inline-block;
	font-size: 11pt;
	font-weight: normal;
	padding: 0px 15px;
}
nav.menufinal a  {
	text-decoration: none;
	color: white;
}
.face {
	max-height: 30px;
	margin-top: 30px;
	margin-left: 10px;
}
.twitt {
	max-height: 30px;
	margin-top: 30px;
	margin-left: 10px;
}
.insta {
	max-height: 30px;
	margin-top: 30px;
	margin-left: 10px;
}

@media (min-width: 2560px) {
	body {
		margin: auto 700px;
	}
	nav.menu ul {
		width: 450px;
		margin-top: 35px;
		margin-left: 310px;
	}
	div.titulo {
		background-size: 100%;
		margin-left: -700px;
		margin-right: -700px;
	}
	nav.cat ul {
		margin-left: 675px;
	}
	div.titulo h1 {
		width: 1200px;
		margin-left: 700px;
		margin-right: -170px;
	}
	nav.datapost ul {
		margin-left: 580px;
	}
	section.corpo {
		width: 75%;
	}
	img.fotoprinc {
		max-width: 100%;
	}
	section.corpo p {
		width: 100%;
	}
	div.lateral {
		margin-top: -1400px;
		margin-left: 830px;
	}
	section.contato {
		display: block;
	}
	div.part1 {
		width: 68%;
		padding-left: 700px;
		margin: 80px 0px 0px -700px;
	}
	div.part2 {
		margin: -605px 100px 25px 650px;
	}
	.fotobarra {
		width: 1210px;
		margin-left:-50px;
		margin-top: 20px;
	}
	.rodape {
		padding-left: 700px;
	    padding-right: 700px;
	    margin-left: -700px;
	}
	nav.menufinal ul {
		margin-left: 370px;
	}
}

@media (max-width: 1024px) {
	nav.menu {
		width: 440px;
	}
	nav.menu ul {
		margin-left: 40px;
	}
	nav.cat ul {
		width: 400px;
		padding-top: 10px;
	}
	div.titulo h1 {
		margin-top: 20px;
		margin-bottom: 20px;
	}
	nav.datapost ul {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	section.corpo {
		width: 74%;
	}
	img.fotoprinc {
		margin-top: -150px;
	}
	div.lateral {
		width: 190px;
		height: 190px;
		padding: 30px 0px;
		margin-top: -1550px;
	}
	div.lateral a {
		font-size: 15px;
	}
	div.lateral h1 {
		font-size: 20px;
	}
	div.topicos {
		width: 190px;
		margin-top: 40px;
	}
	img.foto {
		width: 75px;
	}
	p.parag {
		width: 90px;
		padding-left: 80px;
		padding-bottom: 10px;
		font-size: 13.1px;
	}
	section.contato {
		width: 900px;
	}
	div.part1 {
		width: 600px;
	}
	.formu h2 {
		font-size: 30px;
	}
	input.enviar {
		margin-top: 10px;
	}
	div.part2 {
		margin: 90px 90px 15px 0px;
	}
	.faleconosco {
		width: 390px;
	}
	.fotobarra {
		width: 440px;
		margin-left: -50px;
		margin-top: 45px;
	}
	.fale {
		width: 130px;
		height: 35px;
		padding: 5px;
		font-size: 8px;
	}
	.saiba {
		padding: 5px;
		width: 130px;
		height: 35px;
		font-size: 8px;
	}
	.rodape {
	    margin-left: -120px;
	}
	nav.menufinal ul {
		width: 430px;
		margin-left: 20px;
	}
	img.rodape {
		margin-top: 0px;
	} 
}

@media (max-width: 768px) {
	body {
		width: 100%;
		margin: 0px;
	}
	header.topo {
		width: 100%;
		display: block;
		text-align: center;
	}
	img.icone {
		max-width: 400px;
	}
	nav.menu {
		display: block;
		width: 100%;
	}
	nav.menu ul {
		display: inline-grid;
		width: auto;
		margin: auto;
		padding: 0px;
	}
	nav.menu a:hover {
		padding-bottom: 1px;
	}
	div.titulo {
		background-image: none;
		background-color: #2A2A34;
		max-width: 100%;
		max-height: 320px;
		margin: 0px;
	}
	nav.cat {
		width: 100%;
	}
	nav.cat ul {
		width: auto;
		margin-left: 0px;
		padding-left: 10px;
	}
	nav.cat li {
		font-size: 13px;
	}
	.fa-home {
		font-size:15px;
	}
	div.titulo h1 {
		display: block;
		font-size: 25px;
		width: 98%;
		margin-left: 0px;
		padding-left: 5px;
	}
	nav.datapost {
		width: 100%;
		margin: auto;
	}
	nav.datapost ul {
		padding: 0px;
	}
	nav.datapost li {
		font-size: 7pt;
		padding: 5px;
	}
	section.corpo {
		width: 98%;
		margin: 5px;
	}
	img.fotoprinc {
		margin-top: -170px;
		max-width: 100%;
	}
	section.corpo p {
		width: 100%;
		font-size: 16px;
		margin: 10px 0px;
	}
	section.corpo h2 {
		width: 97%;
		font-size: 20px;
	}
	div.lateral {
		float: none;
		margin: 0px auto;
		width: 97%;
		height: 170px;
	}
	.fotodown {
		margin-bottom: 10px;
	}
	div.topicos {
		display: block;
		margin-top: 50px;
		margin-bottom: 50px;
		width: 100%;
	}
	.foto {
		display: block;
		width: 70%;
		height: auto;
		margin-left: auto;
		margin-right: auto;
		margin-top: 20px;
		margin-bottom: 20px;
    }
	div.topicos p {
		display: inline-block;
		text-align: center;
		padding: 0px;
		width: 100%;
		height: 40px;
		margin: auto;
	}
	section.contato {
		display: block;
		width: auto;
		margin-top: 0px;
	}
	div.part1 {
		width: auto;
		height: auto;
		margin: 1000px 0px 0px;
		padding: 0px 0px 40px 0px;
	}
	.fotocel {
		display: none;
	}
	section.formu {
		width: 100%;
		text-align: center;
		margin: auto;
		margin-top: -370px;
		padding-top: 60px;
		padding-bottom: 60px;
		line-height: 40px;
		height: auto;
	}
	.formu h1 {
		margin-top: 0px;
		font-size: 50px;
		font-weight: 700;
	}
	.formu h2 {
		height: 0px;
		font-weight: 100;
	}
	.formu h3 {
		font-size: 25px;
		font-weight: 100;
		line-height: 60px;
	}
	fieldset.telefone {
		font-size: 18px;
	}
	input#cNum {
		font-size: 18px;
		padding-left: 50px;
	    width: auto;
	    height: 60px;
	}
	.input-container:after {
		font-size: 25px;
		transform: translate(85%, -260%);
	}
	.enviar {
		border-radius: 10px;
		width: auto;
		height: 60px;
		font-size: 30px;
		margin-left: auto;
		margin-top: 20px;
		transform: translate(5%, 9%);
	}
	.tarifas {
		font-size: 18px;
	}
	.download {
		width: 20%;
	}
	div.part2 {
		margin: 0px;
		width: 100%;
		height: auto;
		padding-left: 0px;
    	padding-top: 40px;
		padding-bottom: 40px;
		text-align: center;
	}
	.fotobarra {
		display: none;
	}
	.faleconosco {
		width: auto;
		margin: auto;
	}
	.fale {
		border-radius: 10px;
		width: 40%;
		height: 60px;
		font-size: 18px;
		margin: auto;
	}
	.saiba {
		width: auto;
		height: 60px;
		font-size: 20px;
		margin: auto;
	}
	.faleconosco span {
		transform: translate(-50%, -5%);
	}
	.rodape {
		display: block;
		text-align: center;
		height: auto;
		margin: auto;
		padding: 0px;
	}
	img.iconerodape {
		margin: auto;
	}
	nav.menufinal {
		display: flex;
		justify-items: center;
		width: auto;
		height: 100px;
		margin-left: 0px;
	}
	nav.menufinal ul {
		width: 250px;
		height: 100px;
		display: inline-grid;
		margin: auto;
		padding: 0px;
	}
	nav.menufinal li {
		height: 20px;
	}
	.face .twitt .insta {
		display: block;
		margin: auto;
	}
}