@charset "UTF-8";
body {
	position: relative;
	width: auto;
	font-family: 'Ebrima', sans-serif;
	font-weight: normal;
	color: white;
	background-color: rgb(48,50,62);
	margin: 0px 120px;
}
header.topo {
	display: inline-flex;
	width: 100%;
}
img.icone {
	margin-top: 15px;
	max-width:210px;
    max-height:190px;
}
nav.menu ul {
	width: 440px;
	margin-top: 35px;
	margin-left: 285px;
}
nav.menu li {
	font-size: 12pt;
	font-weight: normal;
	display: inline-block;
	padding: 0px 8px;
}
nav.menu a  {
	text-decoration: none;
	color: white;
}
nav.menu a:hover {
	color: rgb(244,187,54);
	padding-bottom: 28px;
	border-bottom: solid;
	border-width: bolder;
}
.baixarapp {
	background-color: #f6bb33;
	color: #2a2931;
	padding: 13px 10px;
	text-align: center;
	text-transform: uppercase;
	border-radius: 5px;
	border-width: 0px;
	width: 150px;
	height: 40px;
	font-size: 12px;
	font-weight: bolder;
	margin-left: 0px;
    margin-top: 25px;
    padding: 10px 25px;
}
nav.cat {
	margin-left: 0px;
	width: 700px;
}
nav.cat ul {
	width: 1000px;
	margin-top: 30px;
	padding-top: 20px;
	margin-bottom: 0px;
	margin-left: 90px;
	margin-right: 0px;
}
nav.cat li {
	font-size: 12pt;
	display: inline-block;
	padding-right: 15px;
}
.fa-home {
	color: rgb(244,187,54);
	font-size:18px;
}
a#home  {
	text-decoration: underline;
	font-weight: bolder;
	color: white;
}
a#home:hover {
	color: rgb(244,187,54);
}
a#post  {
	text-decoration: none;
	color: white;
}
div.titulo {
	background-image:url("./../imagens/fundoinicio.png");
	background-size: 100%;
	background-repeat: no-repeat;
	height: 400px;
	margin: -20px -120px -100px -120px;
}
div.titulo h1 {
	font-size: 58px;
	width: 80%;
    margin-left: 120px;
    margin-top: 30px;
    margin-bottom: 30px;
}
nav.datapost {
	width: 60%;
    margin-left: 50px;
}
nav.datapost li {
	font-size: 13pt;
	font-weight: normal;
	display: inline-block;
	padding: 0px 35px;
}
nav.datapost a  {
	text-decoration: none;
	font-style: oblique;
	color: white;
}
nav.datapost a.um {
	color: rgb(244,187,54);
}
span.tres {
	text-decoration: underline;
}
.principal {
	display: inline-flex;
}
section.corpo {
	display: inline-block;
	width: 76%;
	margin-right: 15px;
}
img.fotoprinc {
	margin-bottom: 15px;
	width: 100%;
}
section.corpo p {
	font-size: 20px;
}
section.corpo h2 {
	font-size: 30px;
}
div.lateral {
	display: inline-block;
	line-height: 0.8;
	text-align: center;
	padding-top: 45px;
	padding-bottom: 45px;
	color: #22222A;
	background-color: rgb(244,187,54);
	width: 260px;
	height: 270px;
	border-radius: 3px;
}
div.lateral a {
	font-size: 20px;
	line-height: 1;
	font-weight: normal;
}
div.lateral span {
	font-size: 25px;
	font-weight: bolder;
}
div.topicos {
	vertical-align: bottom;
	float: right;
	text-align: left;
	margin-top: 110px;
}
div.topicos h2 {
	margin-bottom: 30px;
	color: #FFFFFF;
	font-size: 22px;
}
.fotodown {
	max-width: 130px;
    max-height: 130px;
}
.parag {
	vertical-align: top;
	line-height: 1.25;
	color: #FFFFFF;
	text-align: left;
	font-size: 15px;
	font-weight: bolder;
	margin-top: -70px;
	padding-bottom: 5px;
    padding-top: 15px;
	padding-left: 100px;
	border: 0;
	border-bottom: 2px solid #22222A;
	border-bottom-width: 2px;
	margin-bottom: 20px;
	width: 160px;
	height: 65px;
}
.parag:last-child  {
	border-bottom: 0px;
}
.foto {
	max-width: 90px;
    max-height: 90px;
    margin-top: -5px;
	margin-bottom: 0px;
}

section.contato {
	display: inline-flex;
}
div.part1 {
	width: 65%;
	height: 525px;
	background-color: #2A2A34;
	margin: 80px 0px 0px -120px;
	padding: 40px 0px;
}
.fotocel {
	height: 100%;
}
section.formu {
	color: #FCFCFC;
	margin-left: 230px;
	margin-top: -450px;
	line-height: 1px;
}
.formu h1 {
	font-size: 36px;
	font-weight: 700;
}
.formu h2 {
	font-size: 36px;
	font-weight: 100;
}
.formu h3 {
	font-size: 19px;
	font-weight: 100;
	line-height: 60px;
}
fieldset.telefone {
	border: none;
	font-size: 11px;
	font-weight: 700;
	line-height: 30px;
	padding: 0px;
	margin: 0px;
}
input#cNum {
	color: white;
    width: 210px;
    height: 40px;
    padding-left: 37px;
    background-color: #2A2A34;
    border-style: solid;
    border-color: #F5BB33;
    border-width: 1px;
    border-radius: 5px;
}
.input-container:after {
	content: "\f095";
    width: 17px;
    height: 17px;
    font-size: 16px;
	display: flex;
	transform: translate(75%, -175%);
}
.enviar {
	background-color: #f6bb33;
	color: #2a2931;
	text-align: center;
	border-radius: 5px;
	border-width: 0px;
	width: 120px;
	height: 44px;
	font-size: 12px;
	font-weight: bolder;
	margin-left: 10px;
	transform: translate(5%, -70%);
}
.tarifas {
	font-size: 11px;
	font-weight: 100;
	font-style: italic;
}
.download {
	width: 130px;
	height: 50px;
    margin-top: 30px;
}
div.part2 {
	width: 35%;
	height: 420px;
	background-color: #30323E;
	margin: 80px -60px 0px 00px;
	padding: 110px 0px 40px 50px;
	line-height: 1px;
}
.empresas h1 {
	font-size: 36px;
	font-weight: 700;
}
.empresas h2 {
	font-size: 36px;
	font-weight: normal;
	line-height: 1px;
}
.empresas h3 {
	font-size: 19px;
	font-weight: 100;
	padding-top: 30px;
	padding-bottom: 20px;
	line-height: 25px;
}
.faleconosco {
	width: 400px;
	margin-right: -100px;
}
.fale {
	background-color: #30323E;
	color: #F5BB33;
	padding: 13px 10px;
	text-align: center;
	border-style: solid;
	border-color: #F5BB33;
	border-radius: 5px;
	border-width: 1.5px;
	width: 220px;
	height: 45px;
	font-size: 13px;
	font-weight: bolder;
}
.saiba {
	background-color: #30323E;
	color: #F5BB33;
	padding: 13px 10px;
	text-align: center;
	border: none;
	width: 130px;
	height: 45px;
	font-size: 13px;
	font-weight: bolder;
}
.faleconosco span {
	color: #F5BB33;	
}
.fotobarra {
	width: 156%;
	margin-left: -50px;
	margin-top: 55px;
}
.rodape {
	display: inline-flex;
	background-color: #2A2A34;
	margin: 0px auto;
	width: 100%;
	height: 100px;
	padding-top: 10px;
	padding-right: 120px;
	padding-left: 120px;
	margin-left: -120px;
}
img.iconerodape {
	max-width:190px;
    max-height: 60px;
    margin-top: 15px;
}
nav.menufinal ul {
	display: flex;
	width: 400px;
	margin-top: 35px;
	margin-left: 360px;
	margin-right: 0px;
}
nav.menufinal li {
	display: inline-block;
	font-size: 11pt;
	font-weight: normal;
	padding: 0px 15px;
}
nav.menufinal a  {
	text-decoration: none;
	color: white;
}
.face {
	max-height: 30px;
	margin-top: 30px;
	margin-left: 10px;
}
.twitt {
	max-height: 30px;
	margin-top: 30px;
	margin-left: 10px;
}
.insta {
	max-height: 30px;
	margin-top: 30px;
	margin-left: 10px;
}

@media (min-width: 2560px) {
	body {
		margin: auto 700px;
	}
	nav.menu ul {
		width: 450px;
		margin-top: 35px;
		margin-left: 310px;
	}
	div.titulo {
		background-size: 100%;
		margin-left: -700px;
		margin-right: -700px;
	}
	nav.cat ul {
		margin-left: 675px;
	}
	div.titulo h1 {
		width: 1200px;
		margin-left: 700px;
		margin-right: -170px;
	}
	nav.datapost ul {
		margin-left: 580px;
	}
	section.contato {
		display: block;
	}
	div.part1 {
		width: 68%;
		padding-left: 700px;
		margin: 80px 0px 0px -700px;
	}
	div.part2 {
		margin: -605px 100px 25px 650px;
	}
	.rodape {
		padding-left: 700px;
	    padding-right: 700px;
	    margin-left: -700px;
	}
	nav.menufinal ul {
		margin-left: 370px;
	}
}

@media (min-width: 1440px) {
	nav.menu ul {
		margin-left: 330px;
	}
	.fotobarra {
		width: 165%;
		margin-left: -50px;
		margin-top: 55px;
	}
}

@media (max-width: 1024px) {
	nav.menu {
		width: 440px;
	}
	nav.menu ul {
		margin-left: 40px;
	}
	nav.cat ul {
		width: 400px;
		padding-top: 10px;
	}
	div.titulo {
		margin: -20px -120px -150px -120px;
	}
	div.titulo h1 {
		margin-top: 20px;
		margin-bottom: 20px;
	}
	nav.datapost ul {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	div.lateral {
		padding-top: 25px;
		padding-bottom: 25px;
		width: 180px;
		height: 190px;
	}
	div.lateral h1 {
		font-size: 20px;
	}
	div.lateral a {
		font-size: 15px;
	}
	.fotodown {
		max-width: 110px;
	}
	div.topicos {
		width: 180px;
		margin-top: 65px;
	}
	img.foto {
		width: 75px;
	}
	p.parag {
		width: 90px;
		padding-left: 80px;
		padding-bottom: 10px;
		font-size: 11px;
		margin-top: -80px;
		padding-top: 30px;
	}
	section.contato {
		width: 900px;
	}
	div.part1 {
		width: 600px;
	}
	.formu h2 {
		font-size: 30px;
	}
	.enviar {
		transform: translate(-8%, -20%);
	}
	div.part2 {
		margin: 90px 90px 15px 0px;
	}
	.faleconosco {
		width: 390px;
	}
	.fotobarra {
		width: 440px;
		margin-left: -50px;
		margin-top: 45px;
	}
	.fale {
		width: 130px;
		height: 35px;
		padding: 5px;
		font-size: 8px;
	}
	.saiba {
		padding: 5px;
		width: 130px;
		height: 35px;
		font-size: 8px;
	}
	.rodape {
	    margin-left: -120px;
	}
	nav.menufinal ul {
		width: 430px;
		margin-left: 20px;
	
	}
	img.rodape {
		margin-top: 0px;
	} 
}

@media (max-width: 768px) {
	body {
		width: 100%;
		margin: 0px;
	}
	header.topo {
		width: 100%;
		display: block;
		text-align: center;
	}
	img.icone {
		max-width: 400px;
	}
	nav.menu {
		display: block;
		width: 100%;
	}
	nav.menu ul {
		display: inline-grid;
		width: auto;
		height: 110px;
		margin: auto;
		padding: 0px;
	}
	nav.menu a:hover {
		padding-bottom: 1px;
	}
	div.titulo {
		background-image: none;
		background-color: #2A2A34;
		max-width: 100%;
		max-height: 320px;
		margin: 0px;
	}
	nav.cat {
		width: 100%;
	}
	nav.cat ul {
		width: auto;
		margin-left: 10px;
		padding-left: 10px;
	}
	nav.cat li {
		font-size: 13px;
	}
	.fa-home {
		font-size:15px;
	}
	div.titulo {
		margin-bottom: 30px;
	}
	div.titulo h1 {
		display: block;
		font-size: 290%;
		text-align: center;
		width: 98%;
		margin-left: 0px;
		padding-left: 5px;
	}
	nav.datapost {
		width: 100%;
		margin: auto;
	}
	nav.datapost ul {
		padding: 0px;
		margin-left: 15px;
	}
	nav.datapost li {
		font-size: 80%;
		padding: 5px;
	}
	.principal {
		display: block;
	}
	section.corpo {
		width: 99%;
		margin: auto;
	}
	img.fotoprinc {
		margin-top: -120px;
		max-width: 98%;
		margin-left: 10px;
	}
	section.corpo p {
		width: 98%;
		font-size: 16px;
		margin: 10px 15px;
	}
	section.corpo h2 {
		width: 98%;
		font-size: 20px;
		margin: 0 15px;
	}
	div.lateral {
		display: block;
		margin: 0px auto;
		width: 97%;
		height: 170px;
	}
	div.lateral h1 {
		font-size: 180%;
	}
	div.lateral a {
		font-size: 20px;
	}
	.fotodown {
		margin-bottom: 10px;
		max-width: 130px;
	}
	div.topicos {
		text-align: center;
		margin-top: 50px;
		margin-bottom: 50px;
		width: 100%;
	}
	img.foto {
		max-width: none;
    	max-height: none;
		margin-top: 20px;
		margin-bottom: 20px;
		width: 95%;
	}
	div.topicos h2 {
		font-size: 180%;
		margin-top: 40px;
		text-align: left;
	}
	div.topicos p {
		font-size: 150%;
		display: inline-block;
		text-align: center;
		padding: 0px;
		width: 100%;
		height: 40px;
		margin: auto;
	}
	section.contato {
		display: block;
		width: auto;
		margin-top: 0px;
	}
	div.part1 {
		width: auto;
		height: auto;
		margin: 1000px 0px 0px;
		padding: 0px 0px 40px 0px;
	}
	.fotocel {
		display: none;
	}
	section.formu {
		width: 100%;
		text-align: center;
		margin: auto;
		margin-top: -370px;
		padding-top: 60px;
		padding-bottom: 60px;
		line-height: 40px;
		height: auto;
	}
	.formu h1 {
		margin-top: 0px;
		font-size: 360%;
		font-weight: 700;
	}
	.formu h2 {
		margin-top: -35px;
		height: 0px;
		font-weight: 100;
	}
	.formu h3 {
		margin-top: 70px;
		font-size: 25px;
		font-weight: 100;
	}
	fieldset.telefone {
		display: inline-block;
		font-size: 18px;
	}
	input#cNum {
		font-size: 18px;
		padding-left: 50px;
	    width: 300px;
	    height: 60px;
	}
	.input-container:after {
		font-size: 25px;
		transform: translate(85%, -260%);
	}
	.enviar {
		border-radius: 10px;
		width: 45%;
		height: 20%;
		font-size: 140%;
		padding: 3% 8%;
		margin-top: 40px;
		margin-left: 0;
	}
	.tarifas {
		font-size: 18px;
	}
	.download {
		width: 35%;
		height: auto;
	}
	.empresas h1 {
		font-size: 50px;
	}
	.empresas h3 {
		font-size: 30px;
		padding: 30px;
		line-height: 30px;
	}
	div.part2 {
		margin: 0px;
		width: 100%;
		height: auto;
		padding-left: 0px;
    	padding-top: 40px;
		padding-bottom: 40px;
		text-align: center;
	}
	.fotobarra {
		display: none;
	}
	.faleconosco {
		display: inline-grid;
		width: auto;
		margin: auto;
	}
	.fale {
		border-radius: 10px;
		width: 100%;
		height: 50px;
		font-size: 80%;
		margin: auto;
	}
	.saiba {
		width: auto;
		height: 55px;
		font-size: 80%;
		margin-left: -20px;
	}
	.faleconosco span {
		width: 50px;
	    padding-left: 70px;
		transform: translate(40%, -225%);
	}
	.rodape {
		display: block;
		text-align: center;
		height: auto;
		margin: auto;
		padding: 0px;
	}
	img.iconerodape {
		margin: auto;
	}
	nav.menufinal {
		display: flex;
		justify-items: center;
		width: auto;
		height: 100px;
		margin-left: 0px;
	}
	nav.menufinal ul {
		width: 250px;
		height: 120px;
		display: inline-grid;
		margin: auto;
		padding: 0px;
	}
	nav.menufinal li {
		height: 15px;
	}
	.face .twitt .insta {
		display: block;
		margin: auto;
	}
}

@media (max-width: 425px) {
	div.titulo h1 {
		font-size: 250%;
	}	
	img.fotoprinc {
		margin-top: -70px;
	}
	div.topicos p {
		font-size: 100%;
	}
	.formu h1 {
		font-size: 320%;
	}
	.enviar {
		font-size: 130%;
	}
	.download {
		width: 50%;
		height: auto;
	}
	.empresas h1 {
		font-size: 45px;
	}
	.empresas h2 {
		font-size: 30px;
	}
	.empresas h3 {
		font-size: 25px;
	}
}
@media (max-width: 375px) {
	img.fotoprinc {
		margin-top: -10px;
	}
}
@media (max-width: 320px) {
	nav.cat ul {
		font-size: 11px;
	}
	img.fotoprinc {
		margin-top: -30px;
	}
	.formu h1 {
		font-size: 280%;
	}
	.formu h2 {
		font-size: 25px;
	}
	.formu h3 {
		line-height: 50px;
	}
	input#cNum {
		width: 200px;
	}
}